<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BolsoBet</title>
    <link rel="icon" type="image/svg+xml" href="/static/assets/logo.svg">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body alt="background error" style="background-image: url('/static/assets/imgs/fundo_cassino.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">

    <main class="container-lateral">
                        <!-- tabela -->
                <div id="matriz" data-simbolos="🪨,💣,💎,🪎">
                    <div>
                        {% for i in range(3) %}
                        <div class="linha">
                            {% for j in range(12) %}
                            <button>{{ 3-i +(3*j)}}</button>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="linha">
                        <button class="duzia">1st 12</button><button class="duzia">2nd 12</button><button class="duzia">3rd 12</button> <!-- todos os botões devem ter o msm tamanho -->
                    </div>
                    <div class="linha">
                        <button>1~18</button><button>impar</button><button class="preto">   </button><button class="vermelho">   </button><button>par</button><button>19~36</button> <!-- os vazis são os botões de cor q devem ser pintados --> <!-- todos os botões devem ter o msm tamanho -->
                    </div>

                </div>

            <div class="slot-machine-lateral">
                

            <div class="mascote-container">
                <img id="mascote-img"
                     src="/static/assets/imgs/mineiro(neutro).png"
                     data-img-pequeno="/static/assets/imgs/mineiro(pequeno).png"
                     data-img-medio="/static/assets/imgs/mineiro(medio).png"
                     data-img-grande="/static/assets/imgs/mineiro(grande).png"
                     alt="mineiro" class="mascote-image">
            </div>

                <div class="controles">
                    <!-- Informações -->
                        <div class="info-jogo">

                            <p>
                                💰 saldo restantes:
                                R$ <span class="saldo">{{ "%.2f"|format(session["saldo"])|replace(".", ",") }}</span>
                                💰
                            </p>
                            <p>
                                multipicador atual:
                                X <span class="multiplicador">0</span>
                            </p>

                            <p id="mensagem"></p>

                        </div><!-- Controles -->
                        <input class="campo" id="aposta" type="number" min="0.40" step="0.10" placeholder="Aposta (R$) minimo R$0,40">
                        <button id="COMEÇAR">COMEÇAR</button>
                        </div>
                </div>        
            </div>
    </main>

<script src="{{ url_for('static', filename='campo-minado.js') }}"></script>

</body>

</html>