<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>BolsoBet</title>
    <link rel="icon" type="image/svg+xml" href="/static/assets/logo.svg">
    <link rel="stylesheet" href="/static/style.css">
    <script>
    const usuario = JSON.parse(localStorage.getItem("usuarioLogado"));

    if (!usuario) {
        window.location.href = "/templates/login.html";
    }
    </script>
</head>

<body>

    <header class="navbar">

    <a href="/" class="logo">
        <img src="/static/assets/logo.svg" alt="BolsoBet">
        <span class="logo-text">BolsoBet</span>
    </a>

    <div class="navbar-right">

        <button class="icon-btn" id="sound-btn">🔊</button>

        {% if "usuario_id" in session %}

        <div class="user-buttons">

            <form action="/deposito" method="GET">
                <button class="btn saldo-btn">
                    💰 R$ {{ "%.2f"|format(session["saldo"]) }}
                </button>
            </form>

            <button class="btn perfil-btn">
                👤 {{ session["nome"] }}
            </button>

            <a href="/logout" class="btn btn-login">
                Sair
            </a>

        </div>

        {% else %}

        <div class="guest-buttons">

            <a href="/login" class="btn btn-login">
                Entrar
            </a>

            <a href="/register" class="btn btn-register">
                Cadastrar
            </a>

        </div>

        {% endif %}

    </div>

    </header>

    <main>



    </main>

</body>

</html>