<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>BolsoBet</title>
    <link rel="icon" type="image/svg+xml" href="/static/assets/logo.svg">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="tigrinho-body">

    <header class="navbar">

    <a href="/" class="logo">
        <img src="/static/assets/logo.svg" alt="BolsoBet">
        <span class="logo-text">BolsoBet</span>
    </a>

    <div class="navbar-right">

        <div class="user-buttons">

            <form action="/deposito" method="GET">
                <button class="btn saldo-btn">
                     R$ {{ "%.2f"|format(session["saldo"])|replace(".", ",") }}
                </button>
            </form>

            <button class="btn perfil-btn">
                 {{ session["nome"] }}
            </button>

            <a href="/logout" class="btn btn-login">
                Sair
            </a>

        </div>

    </div>

    </header>

    <main class="container">
            <img src="/static/assets/imgs/tiger.png" alt="Tigrinho" class="tiger-image">
            <div class="slot-machine">
                
                <!-- Máquina -->
                <div id="matriz">

                    {% for i in range(5) %}
                    <div class="linha">
                        {% for j in range(5) %}
                        <span>🐯</span>
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>

                <div class="controles">
                    <!-- Informações -->
                        <div class="info-jogo">

                            <p>
                                🎰 saldo restantes:
                                <span id="saldo">R$ {{ "%.2f"|format(session["saldo"])|replace(".", ",") }}</span>
                                🎰
                            </p>

                            <p id="mensagem"></p>

                        </div><!-- Controles -->
                        <input class="campo" id="aposta" type="number" min="0.40" step="0.10" placeholder="Aposta (R$) minimo R$0,40">
                        <input class="campo"id="comprar_spins" type="number" min="1" placeholder="Comprar Spins">
                        <button id="girar">GIRAR</button>
                        </div>
                </div>        
            </div>
    </main>

<script src="{{ url_for('static', filename='tigrinho.js') }}"></script>

</body>

</html>